* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-Regular", Helvetica;
}

body {
  font-family: "Inter-Regular", Helvetica;
  background-color: #F1F8F2;
}

.fridge-container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  width: 90%;
  margin: 70px auto;
}

/* Image */

.fridge-container .image-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

.fridge-container .image-container .fridge-image {
  width: 100%;
  border-radius: 10px;
  margin: 10% 0 3% 0;
  justify-content: left;
}

.fridge-container .image-container .light-on-btn, .fridge-container .image-container .light-off-btn{
  margin-top: 15px;
  padding: 5px 25px;
  font-size: 16px;
  border-radius: 20px;
  border: solid 1.5px black;
  cursor: pointer;
}

.fridge-container .image-container .light-on-btn {
  background-color: #f4f6a9;
  color: black;
}

.fridge-container .image-container .light-off-btn {
  background-color: #040404;
  color: rgb(255, 255, 255);
}

/* Tables */

.fridge-container .display-table {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: auto;
    margin: 30px 0px 30px 20px;
  }

.fridge-container .vegetable-table,
.fridge-container .dish-table {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 30px;
} 

.fridge-container table {
  width: 100%;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
    font-size: 16px;
    padding: 10px 15px;
    justify-content: center;
    text-align: center;
}

.fridge-container table tr:not(:last-child) td {
  border-bottom: 1.5px solid #060606;
}

th {
    color: white;
    background-color: black;
}

td {
    color: black;
    background-color: white;
}

.fridge-container .vegetable-table .see-btn {
  padding: 5px 25px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.fridge-container .vegetable-table .see-btn:hover {
  background-color: #858788;
}
