* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-Regular", Helvetica;
}

body {
  font-family: "Inter-Regular", Helvetica;
  background-color: #F1F8F2;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột cho các sản phẩm */
  gap: 30px;
  width: 90%;
  margin: 50px 80px;
}


.image-container,
.big-logo {
  padding: 10px;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.status{
  padding-top: 80px;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 50px;
} 

.image-container .fridge-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 2%;
  justify-content: left;
}

.status .temperature, .status .humidity {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 2px rgba(5, 0, 0, 0.1);
  width: 250px;
  height: 90px;
  display: flex;  /* Sử dụng flexbox để căn giữa nội dung */
  justify-content: left;  /* Căn giữa nội dung theo chiều ngang */
  align-items: center;
  margin: 10px;
}

.status .label {
  font-size: 20px;
  color: #333;
  margin-right: auto;
}

.status .value {
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
}

.go-to-fridge {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.go-to-fridge:hover {
  background-color: #424648;
}

.big-logo img{
  width: 100%;          /* Làm cho hình ảnh chiếm toàn bộ phần tử cha */
  height: auto;         /* Giữ nguyên tỷ lệ của hình ảnh */
  object-fit: contain;
  
}

@media (max-width: 1200px) {
  .big-logo {
    display: none;
  }

  .container {
    grid-template-columns: 1fr 1fr; /* Chuyển thành một cột */
    gap: 20px; /* Thêm khoảng cách giữa các phần tử */
  }

  .image-container,
  .status{
    padding: 10px;
    text-align: center;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-container .fridge-image {
    width: 100%; /* Giảm kích thước ảnh */
    margin: 10px 10px; /* Căn giữa ảnh */
  }

  .status .temperature,
  .status .humidity {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn chỉnh phần tử theo đầu */
  }

  .status .label {
    font-size: 20px;
    color: #333;
  }
  
  .status .value {
    font-size: 25px;
    font-weight: bold;
  }
}