*{
    font-family:  "Inter", Helvetica;

}
.after{
    background-color: #EAF7EA;
    height: 1840px;
}
.footer{
    top: 1690px;
}
.background{
    
    background-image: url("../assets/images/homebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 70px;
    height: 931px;
    margin: 0;
    padding: 0;
}

.background .title {
    display: block;
    position: absolute;
    top: 164px;
    margin: 0;
    padding: 0px;
    font-size: 100px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0);
    background: linear-gradient(
        to right,
        #131212 0%,
        #2E2A2A 65%,
        #797070 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2.5px white;
      background-clip: text;
      color: transparent;
    font-weight: 1000;
    line-height: auto;

}


.background .manage{
    display: block;
    position: absolute;
    top: 335.05px;
    margin: 0;
    padding: 0px;
    font-size: 64px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0);
    background: #000000;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px white;
      background-clip: text;
      color: transparent;
    font-weight: 800;
    line-height: auto;
}

.background .whitetext{
    display: block;
    position: absolute;
    top: 476px;
    margin: 0;
    padding: 0px;
    font-size: 32px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0);
    background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1.5px black;
      background-clip: text;
      color: transparent;
    font-weight: 800;
    line-height: auto;
}

.background .discoverbutton{
    display: block;
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0; 
    top: 633px;
    color: white;
    background-color: #000000;
    border-radius: 100px;
    width: 210.41px;
    height: 55.56px;
    font-weight: 700;
    font-size: 24px;
    transition: all 0.3s ease;

}
.discoverbutton:hover{
    transform: scale(1.05);
    background-color: #444;
}

.infobox{
    display: block;
    position: absolute;
    top: 911px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 1075px;
    height: 567px;
    border-radius: 10px;
}

.infobox .whitebox {
    display: block;
    background-color: white;
    height: 379px;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
}
.infobox .whitebox img{
    position: absolute;
    left: 12px;
    top: 12.5px;
    border-radius: 10px;
}

.infobox .whitebox .title{
    position: absolute;
    left: 400px;
    top: 12.5px;
    font-size: 32px;
    font-weight: 700;
}

.infobox .whitebox .description{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 639px;
}

.infobox .whitebox .description p{
    white-space: normal;
    font-size: 16px;
    line-height: auto;
}

.infobox .whitebox .butt {
    display: block;
    position: absolute;
    left: 400px;
    top: 300px;
    background-color: #fff;
    border: #000 solid 2px;
    border-radius: 10px;
    width: 100px;
    height: 38px;
    transition: all 0.3s ease;
    font-size:18px;
    font-weight: 700;
}

.butt:hover{
    background-color: #444;
    transform: scale(1.05);
}

.infobox .transparentbox{
    display: block;
    height: 188px;
    width: 100%;
    position: absolute;
    top: 379px;
}

.infobox .transparentbox .tracking{
    display: block;
    position: absolute;
    top: 20px;
    color: #787272;
    font-size: 24px;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, 0);
}

.infobox .transparentbox .item{
    display: block;
    position: absolute;
    top: 80px;
    color: #787272;
    font-size: 24px;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: pre;
}

.infobox .transparentbox .attr{
    display: block;
    position: absolute;
    top: 140px;
    font-size: 24px;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: pre;

    background: #EAF7EA;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px black;
      background-clip: text;
      color: transparent;
}